.open{
	padding:10px !important;
	text-align:center;
    background-color:#f5f5f5;
}

th{
	text-align:center;
}

#calController{
    width:100%;
}

#selectable{
    display:inline-block;
}

.closed{
	padding:10px !important;
	text-align:center;
    background-color:#494949;
    color:#FFFFFF;
}

.day{
    display:inline-block;
    text-align:center;  
    vertical-align:top;
}

.nav a{
    padding:30px;
}

.day-header{
    padding:10px;
    margin-top:5px;
    font-weight:bold;
}