.open{
	padding:10px !important;
	text-align:center;
    background-color:#f5f5f5;
}

th{
	text-align:center;
}

.closed{
	padding:10px !important;
	text-align:center;
    background-color:#494949;
    color:#FFFFFF;
}

.day{
    display:inline-block;
    text-align:center;  
    vertical-align:top;
}


#calController{
    width:1300px
}